# Ignore compiled binary files
student_manager
student_manager.exe

# Ignore object files
*.o

# Ignore dependency files
*.d

# Ignore core dumps
core

# Ignore IDE/editor files
.vscode/
.idea/
*.swp
*~

# Ignore backup files
*.bak
*.tmp

# Ignore the build directory
build/

# Ignore student data files
*.dat

